html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

body {
  background: $off-white;
}

p {
  margin: 0;
}

.isSelected {
  background: linear-gradient(to bottom right, $purple, darken($purple, 20%)) !important;
}