.button {
  color: white;
  border: none;
  border-radius: 3px;
  padding: 12px;
}

.button--default {
  @extend .button;
  background: linear-gradient(to bottom right, lighten($dark-blue, 10%), $dark-blue);
  height: 50px;
  min-width: 75px;
}

.button--default:hover {
  background: lighten($dark-blue, 20%);
}

.button--secondary-action {
  @extend .button;
  background: lighten($blue, 10%);
}

.button--secondary-action:hover {
  background: lighten($blue, 20%);
}

.button--main-action {
  @extend .button;
  background: $orange;
  margin: 10px 20px;
  padding: 20px 10px;
  text-transform: uppercase;
  width: 120px;
}

.button--main-action:hover {
  background: lighten($orange, 10%);
}

.isSelected {
  background: linear-gradient(to bottom right, $yellow-orange, darken($yellow-orange, 20%)) !important;
}