.button {
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.button--default {
  @extend .button;
  background: $primary-dark;
  min-width: 75px;
}

.button--default:hover {
  background: lighten($primary-dark, 15%);
}

.button--secondary-action {
  @extend .button;
  background: darken($off-white, 20%);
}

.button--secondary-action:hover {
  background: darken($off-white, 10%);
}

.button--main-action {
  @extend .button;
  background: $highlight;
  margin: 10px 20px;
  padding: 20px 10px;
  text-transform: uppercase;
  width: 120px;
}

.button--main-action:hover {
  background: lighten($highlight, 10%);
}

.isSelected {
  background: lighten($highlight, 10%) !important;
}
