.header {
  align-items: center;
  background: $primary-dark;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}

.header__title {
  color: lighten($highlight, 15%);
  font-size: $xl-font;
  font-weight: 100;
  margin: 15px;
}

.header__title-link {
  text-decoration: none;
}
