.header {
  align-items: center;
  background: $blue;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}

.header__title {
  color: $yellow-orange;
  font-size: $xxl-font;
  margin: 20px;
}

.header__title-link {
  text-decoration: none;
}