.modal {
  opacity: 0;
  background: $off-white;
  transition: opacity 150ms ease-in;
  margin: 100px auto;
  width: 60vw;
}

.modal--after-open {
  opacity: 1;
}

.modal--before-close {
  opacity: 0;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
    overflow: hidden;
}