.modal {
  background: $off-white;
  margin: 100px auto;
  opacity: 0;
  outline: none;
  transition: opacity 150ms ease-in;
  width: 500px;
}

.modal--after-open {
  opacity: 1;
}

.modal--before-close {
  opacity: 0;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}
