.received__form {
  display: flex;
  height: 100%;
}

.payment-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
  padding: 0 10px;
}

.payment-group__title {
  color: $off-white;
  font-size: $l-font;
  font-weight: 100;
}

.group__items--payment {
  @extend %group__items;
  align-items: center;
  background: lighten($primary-dark, 20%);
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

.payment-error {
  font-style: italic;
  color: maroon;
}

.payment-group__amount {
  color: white;
  font-size: $l-font;
  padding: 10px;
}

.payment-group__amount--input {
  @extend .payment-group__amount;
  background-color: $primary-dark;
  width: 100px;
}
