$blue: #266488;
$dark-blue: #0d3d58;
$light-blue: #6eb7e0;
$off-black: #20222b;
$off-white: #e7f7ffcc;
$orange: #ee8b19;
$yellow-orange: #ffca67;

$xs-font: 0.7rem;
$s-font: 1rem;
$m-font: 1.2rem;
$l-font: 1.5rem;
$xl-font: 2.2rem;
$xxl-font: 3rem;

$xxs-space: 0.8rem;
$xs-space: 1.2rem;
$s-space: 1.6rem;
$m-space: 2.4rem;
$l-space: 3.2rem;
$xl-space: 4.8rem;